h1 {
    padding-top: 40px;
    text-align: center;
    font-family: 'Noto Serif', serif;
    color: rgb(32, 32, 32);
    font-size: x-large;
    padding: 10px;
    margin-bottom: 10px;
  }
h2 {
    text-align: center;
    font-family: 'Noto Serif', serif;
    color: rgb(32, 32, 32);
    font-size: medium;
    padding: 10px;
    margin-top: 10px;
  }
.dropdown-set1 .dropdown-set2{
    font-family: 'Noto Serif', serif;
    color:rgb(32, 32, 32);
    font-size: medium;
}
.dropdown-set1.label .dropdown-set2.label{
    font-family: 'Noto Serif', serif;
    color:rgb(32, 32, 32);
    font-size: medium;
}
.mainMap {
  fill: none;
  stroke: #a0a0a0;
  stroke-width: 0.5px;
  stroke-linecap: round;
  position: relative;
  border: none;
  box-shadow: none; 
  margin: 0; 
  padding: 0; 
}
/* For insets (HI and AK): */
.mainMap path {
  border: none; /* Remove border around inset paths */
  box-shadow: none; /* Remove box shadow around inset paths */
}
.counties {
  opacity: .8;
  stroke: #a0a0a0;
  stroke-width: .8;
  stroke-opacity: .1;
  stroke-linecap: round;
}
.infolabel {    
  margin: 0 20px 0 0;    
  position: absolute;
  height: 50px;
  min-width: 100px;
  color: #fff;
  background-color: #999;
  border: solid thin #fff;
  padding: 5px 10px;
  top: -75px;
  font-family: 'Noto sans', sans-serif;
  font-size: .8em;
}

.infolabel h1 {
  margin: 0 20px 0 0;
  padding: 0;
  display: inline-block;
  line-height: 1em;
  font-family: 'Noto sans', sans-serif;
  font-size: .8em;
  color: #fff;
}
.credits{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: left;
  padding-top: 40px;
  font-family: 'Noto Sans', sans-serif;
  color:rgb(32, 32, 32);
  font-size: x-small;
  padding: 10px;
}
#legend-image {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-15%);
  width: 200px;
  height: auto; 
}